@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Login_v16/table/css/profile.css">
    <title>User Profile</title>
    <style>
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
            text-transform: uppercase;
            font-size: 16px;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

            .gutters-sm > .col,
            .gutters-sm > [class*=col-] {
                padding-right: 8px;
                padding-left: 8px;
            }

        .mb-3,
        .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }
    </style>
</head>
<body>
    <div align="center">
        <h2 algin="center">Member Details</h2>
    </div>

    <div class="container"  >
      
        <div  >
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb" >
              @*   <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol> *@
            </nav>
            <!-- /Breadcrumb -->

            <div  >
                <div  >
                 
                </div>
                <div >
                    <div>
                        @if (ViewBag.data != null)
                        {
                            foreach (var user in ViewBag.data)
                            {
                                <div class="card-body" style="background-image: url('/Login_v16/images/bg-registration-form-2.jpg');background-size: cover; background-position: center;">
                                    
                                    <div class="row" style="margin-left:25px!important;">
                                        <div >
                                            <img src="/uploads/@user.UserImage" alt="user" height="150" width="150" style="margin-top: -9px; padding-left: 0;">
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left:25px!important;">
                                        <div >
                                            <h4 class="mb-0">Name : @user.FirstName @user.LastName</h4>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                           
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left:25px!important;">
                                        <div class="col-sm-3">
                                            <h4 class="mb-0">Phone : @user.Phone</h4>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            
                                        </div>
                                    </div>
                                    @if (ViewBag.ward != null)
                                    {
                                    foreach (var ward in ViewBag.ward)
                                    {
                                            <div class="row" style="margin-left:25px!important;">
                                        <div class="col-sm-3">
                                            <h4 class="mb-0">Ward :  @ward.Wardno - @ward.Wardname</h4>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                           
                                        </div>
                                    </div>
                                    }
                                    }
                                </div>
                            }
                        }

                        @if (ViewBag.family != null && ViewBag.family.Count > 0)
                        {
                            <div class="card-body" style="background-image: url('/Login_v16/images/bg-registration-form-2.jpg');background-size: cover; background-position: center;">
                                <b><u><p>Family Details</p></u></b>
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th style="padding-right: 50px;">Name</th>
                                                <th style="padding-right: 50px;">Age</th>
                                                <th style="padding-right: 50px;">Relation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.family)
                                            {
                                                <tr>
                                                    <td style="padding-right: 50px;">@item.Name</td>
                                                    <td style="padding-right: 50px;">@item.Age</td>
                                                    <td>@item.Relation</td>
                                                </tr>
                                            }

                                        </tbody>
                                       
                                    </table>
                                 @*    @if (ViewBag.PaymentExist == true)
                                    {
                                        <div>
                                            <p style="color:forestgreen;"><strong>Application Status: Approved</strong></p>
                                        </div>
                                    }
                                  
                                    @* <div><p style="color:forestgreen;"><strong>Application Status :Approved</strong></p></div> *@

                                </div>

                            </div>

                        }
                       
                    </div>

                    @if (ViewBag.PaymentExist == true)
                    {
                        <div>
                            <p style="color:forestgreen;"><strong>Application Status: Approved</strong></p>
                            <label style="margin-right: 25px;">
                                <a asp-controller="IdCard"
                                   asp-action="Index"
                                   asp-route-id="@ViewBag.userid" asp-route-filenames="Report"
                                   class="btn btn-sm btn-primary edit-link"
                                   style="font-size: 18px;">Id Card</a>
                            </label>
                            <label>
                                <a asp-controller="IdCard"
                                   asp-action="Index"
                                   asp-route-id="@ViewBag.userid" asp-route-filenames="HealthCard"
                                   class="btn btn-sm btn-primary edit-link"
                                   style="font-size: 18px;">Health Card</a>
                            </label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <p style="color:orange;"><strong>Application Status: Pending</strong></p>
                        </div>
                    }

                    


                
                </div>
                
    </div>
</body>
</html>
